/* Responsiveness */
@media (min-width: 460px) {
    .slider__item {
        aspect-ratio: 2/3;
        min-width: calc((100% / 2) - 2rem);
    }
}

@media (min-width: 940px) {
    .slider__item {
        min-width: calc((100% / 3) - 4rem);
    }
}

@media (min-width: 460px) {
    .slider__nav {
        justify-content: flex-end;
    }
}

@media (min-width: 868px) {
    .header__wrapper .cols__container {
        max-width: 1200px;
        margin: 0 auto;
        width: 90%;
        justify-content: space-between;
    }

    .header__wrapper .cols__container .left__col {
        padding: 25px 0px;
    }

    .header__wrapper .cols__container .right__col nav ul {
        flex-direction: row;
        gap: 30px;
    }
}

@media (min-width: 1017px) {
    .header__wrapper .cols__container .left__col {
        margin: 0;
        margin-right: auto;
    }

    .header__wrapper .cols__container .right__col nav {
        flex-direction: row;
    }

    .header__wrapper .cols__container .right__col nav button {
        margin-top: 0;
    }
}

/* Making the main page responsive: */

/* Desktop screen */
@media screen and (min-width:1300px) and (max-width: 1450px) {
    .selectedTopicDisplay {
        font-size: 38px;
    }

    .navbar {
        width: 100%;
        height: 50%;
    }

    .sidebar {
        /* width: 15% !important; */
        height: 100%;
        justify-content: space-evenly;
        left: -125px;
    }

    .btns {
        width: fit-content;
        height: fit-content;
    }

    .post .toast {
        width: 20%;
    }

    .alert-tmc {
        width: 50%;
        left: 25%;
    }

    .side-btns {
        margin-top: 130px;
    }

    .side-btns a {
        width: 105px;
        line-height: 80px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 0 35px 35px 0;
    }

    .sidebarIcon svg {
        width: 35px;
        height: 35px;
        /* border-radius: 5px; */
    }

    .headBtns {
        font-size: 25px;
        line-height: 30px;
        /* width: 10%; */
        padding: 15px;
    }

    .headBtns img {
        width: 20px;
        height: 20px;
    }

    .subhead {
        font-size: 30px;
        padding: 5px;
    }

    .subheadBtns {
        margin-top: 110px;
    }

    .SB {
        font-size: 20px;
        line-height: 35px;
        padding: 5px;
    }

    .inAbout #Contact td {
        font-size: 12px;
    }
}
/* A Tablet screen IG */
@media screen and (min-width:720px) and (max-width: 1300px) {
    .selectedTopicDisplay {
        font-size: 28px;
    }

    .navbar {
        width: 100%;
        height: 10%;
    }

    .sidebar {
        width: 12% !important;
        height: 100%;
        justify-content: space-evenly;
        left: -125px;
    }

    .btns {
        width: fit-content;
        height: fit-content;
    }

    .post .toast {
        width: 40%;
    }

    .alert-tmc {
        width: 50%;
        left: 25%;
    }

    .side-btns {
        margin-top: 80px;
    }

    .side-btns a {
        width: 105px;
        line-height: 80px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 0 35px 35px 0;
    }

    .logo svg {
        width: 120px;
        height: 60px;
    }

    .sidebarIcon svg {
        width: 25px;
        height: 25px;
        /* border-radius: 5px; */
    }

    .headBtns {
        font-size: 10px;
        line-height: 20px;
        width: fit-content;
        padding: 5px;
    }

    .headBtns img {
        width: 10px;
        height: 10px;
    }

    .subhead {
        font-size: 10px;
    }

    .subheadBtns {
        margin-top: 110px;
    }

    .group .input {
        padding: 0 0 0 20px;
        font-size: 12px;
        line-height: 6px;
        height: 30px;
        width: 150px;
    }

    .icon {
        position: absolute;
        left: 0.2rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }

    .input::placeholder {
        color: #9e9ea7;
    }

    .loginReg .modal-content {
        height: fit-content;
        width: 70%;
        margin: auto;
        left: 15%;
    }

    .post .pContent {
        width: 96%;
        line-height: 22px;
        font-size: 18px;
        margin-left: 22px;
    }

    .projects .insideProj img {
        width: 90%;
        height: 50%;
    }

    .modal-content .inputCont {
        width: 95%;
    }

    .modal-content a {
        width: 30px;
        font-size: 10px;
    }

    .modal-content img {
        width: 20px;
        height: 20px;
    }

    .modal-content .inputBtns {
        width: 95%;
        font-size: 20px;
    }
}
/* Surface Duo  */
@media screen and (min-width:540px) and (max-width: 720px) {
    .selectedTopicDisplay {
        font-size: 28px;
    }

    .navbar {
        width: 100%;
        height: 10%;
    }

    .sidebar {
        width: 16% !important;
        height: 100%;
        justify-content: space-evenly;
        left: -125px;
    }

    .btns {
        width: fit-content;
        height: fit-content;
    }

    .post .toast {
        width: 40%;
    }

    .alert-tmc {
        width: 50%;
        left: 25%;
    }

    .side-btns {
        margin-top: 80px;
    }

    .side-btns a {
        width: 105px;
        line-height: 80px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 0 35px 35px 0;
    }

    .logo svg {
        width: 120px;
        height: 60px;
    }

    .sidebarIcon svg {
        width: 25px;
        height: 25px;
        /* border-radius: 5px; */
    }

    .headBtns {
        font-size: 10px;
        line-height: 20px;
        width: fit-content;
        padding: 5px;
    }

    .headBtns img {
        width: 10px;
        height: 10px;
    }

    .subhead {
        font-size: 10px;
    }

    .subheadBtns {
        margin-top: 110px;
    }

    .group .input {
        padding: 0 0 0 20px;
        font-size: 12px;
        line-height: 6px;
        height: 30px;
        width: 150px;
    }

    .icon {
        position: absolute;
        left: 0.2rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }

    .input::placeholder {
        color: #9e9ea7;
    }

    .loginReg .modal-content {
        height: fit-content;
        width: 70%;
        margin: auto;
        left: 15%;
    }

    .post .pContent {
        width: 96%;
        line-height: 22px;
        font-size: 18px;
        margin-left: 22px;
    }

    .projects .insideProj img {
        width: 90%;
        height: 50%;
    }

    .modal-content .inputCont {
        width: 95%;
    }

    .modal-content a {
        width: 30px;
        font-size: 10px;
    }

    .modal-content img {
        width: 20px;
        height: 20px;
    }

    .modal-content .inputBtns {
        width: 95%;
        font-size: 20px;
    }
}


/* Samsung galaxy s20  */
@media screen and (min-width:400px) and (max-width: 540px) {
    .selectedTopicDisplay {
        font-size: 24px;
    }

    .navbar {
        width: 100%;
        height: 10%;
    }

    .sidebar {
        width: 20% !important;
        height: 100%;
        justify-content: space-evenly;
    }

    .btns {
        width: 40px;
        height: 40px;
    }

    .post .toast {
        width: 40%;
    }

    .side-btns {
        margin-top: 80px;
    }

    .alert-tmc {
        width: 50%;
        left: 25%;
    }

    .side-btns a {
        width: 105px;
        line-height: 80px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 0 35px 35px 0;
    }

    .logo svg {
        width: 120px;
        height: 60px;
    }

    .sidebarIcon svg {
        width: 25px;
        height: 25px;
        border-radius: 10px;
    }

    .headBtns {
        font-size: 10px;
        line-height: 20px;
        width: fit-content;
        padding: 5px;
    }

    .headBtns img {
        width: 10px;
        height: 10px;
    }

    .subhead {
        font-size: 10px;
    }

    .subheadBtns {
        margin-top: 110px;
    }

    .group .input {
        padding: 0 0 0 20px;
        font-size: 12px;
        line-height: 6px;
        height: 20px;
        width: 120px;
    }

    .group {
        line-height: 6px;
    }

    .icon {
        position: absolute;
        left: 0.2rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }

    .input::placeholder {
        color: #9e9ea7;
    }

    .loginReg .modal-content {
        height: fit-content;
        width: 70%;
        margin: auto;
        left: 15%;
    }

    .post .pContent {
        width: 94%;
        line-height: 22px;
        font-size: 18px;
        margin-left: 22px;
    }

    .projects .insideProj img {
        width: 90%;
        height: 50%;
    }

    .modal-content .inputCont {
        width: 95%;
    }

    .modal-content a {
        width: 30px;
        font-size: 10px;
    }

    .modal-content img {
        width: 20px;
        height: 20px;
    }

    .modal-content .inputBtns {
        width: 95%;
        font-size: 20px;
    }
}

/* Samsung galaxy A50  */
@media screen and (min-width:300px) and (max-width: 400px) {
    .selectedTopicDisplay {
        font-size: 20px;
    }

    .navbar {
        width: 100%;
        height: 10%;
    }

    .sidebar {
        width: 27% !important;
        height: 100%;
        justify-content: space-evenly;
    }

    .logo .title {
        font-size: 20px !important;
        margin-bottom: -10px;
        margin-top: 16px;
    }

    .logo p {
        font-size: 12px !important;
        color: grey;
        font-weight: bold;
    }

    .logo img {
        width: 70px !important;
        height: 70px !important;
        filter: contrast(8);
    }

    .btns {
        width: 28px;
        height: 28px;
    }
    
    .post .toast {
        width: 40%;
    }

    .header img {
        width: 20px;
        height: 20px;
    }

    .alert-tmc {
        width: 50%;
        left: 25%;
    }

    .side-btns {
        margin-top: 80px;
    }

    .side-btns a {
        width: 105px;
        line-height: 80px;
        box-sizing: border-box;
        text-align: center;
        border-radius: 0 35px 35px 0;
    }

    .logo svg {
        width: 100px;
        height: 60px;
        margin: 0;
    }

    .sidebarIcon {
        border-radius: 10px;
    }

    .sidebarIcon svg {
        width: 24px;
        height: 24px;
        padding: 5px;
    }

    .headBtns {
        font-size: 10px;
        line-height: 20px;
        width: fit-content;
        padding: 5px;
    }

    .headBtns img {
        width: 10px;
        height: 10px;
    }

    .subhead {
        font-size: 10px;
    }

    .subheadBtns {
        margin-top: 110px;
    }

    .group .input {
        padding: 0 0 0 20px;
        font-size: 12px;
        line-height: 6px;
        height: 20px;
        width: 120px;
    }

    .group {
        line-height: 6px;
    }

    .icon {
        position: absolute;
        left: 0.2rem;
        fill: #9e9ea7;
        width: 1rem;
        height: 1rem;
    }

    .input::placeholder {
        color: #9e9ea7;
    }

    .loginReg .modal-content {
        height: fit-content;
        margin: auto;
        left: 15%;
    }

    .post .pContent {
        width: 96%;
        line-height: 22px;
        font-size: 18px;
        margin-left: 22px;
    }

    .post .pOpts {
        width: 9%;
        margin-left: 5px;
    }

    .projects .insideProj img {
        width: 90%;
        height: 50%;
    }

    .modal-content .inputCont {
        width: 95%;
    }

    .modal-content a {
        width: 30px;
        font-size: 20px;
    }

    .modal-content img {
        width: 20px;
        height: 20px;
    }

    .modal-content .inputBtns {
        width: 95%;
        font-size: 20px;
    }
}

/* Media queries for different screen sizes */
@media (max-width: 767px) {

    /* Styles for mobile screens */
    .mode-content {
        padding: 10px;
    }

    .mode-buttons {
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

@media (min-width: 768px) {

    /* Styles for tablet and desktop screens */
    .mode-content {
        padding: 20px;
    }

    .mode-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}

@media (max-width: 768px) {
    .summary-container {
        padding: 20px;
    }

    .summary-heading {
        font-size: 24px;
    }

    .summary-remark {
        font-size: 18px;
    }

    .summary-score {
        font-size: 20px;
    }

    .summary-stat {
        width: 100%;
        margin-bottom: 15px;
    }

    .summary-button {
        padding: 10px 20px;
        font-size: 16px;
    }

}